
		/* Aquí se definen los estilos CSS para el CV */
		* {
			box-sizing: border-box;
		}

		body {
			font-family: Arial, sans-serif;
			background-color: #f0f0f0;
			margin-bottom:100px
		}

		.container {
			max-width: 800px;
			margin: 0 auto;
			background-color: white;
			padding: 20px;
		}

		.cv-header {
			display: flex;
			align-items: center;
			background-color: #2056ec;
			padding:.5rem;
			color:#fff;
			border-radius: 75px;
		}
		.cv-data{
			display: flex;
			flex-wrap: wrap;
		}
		.cv-profile-picture {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-right: 20px;
		}

		.cv-profile-name {
			font-size: 24px;
			font-weight: bold;
		}

		.cv-contact {
			font-size: 14px;
			padding:.5rem
		}

		.cv-section {
			margin-top: 20px;
		}

		.cv-title {
			font-size: 18px;
			font-weight: bold;
			border-bottom: 1px solid #e0e0e0;
			padding-bottom: 10px;
		}

		.cv-subtitle {
			font-size: 16px;
			font-weight: bold;
			margin-top: 10px;
			margin-left:30px
		}

		.cv-text {
			font-size: 14px;
			line-height: 20px;
			padding:.5rem;
			margin-left: 50px;
		}

		.cv-list,
		.cv-list-cols {
			all: unset;
			list-style-type: disc;
			margin-left: 50px;
			display: block;
		}

		.cv-stack {
			font-size: 14px;
			padding: 1rem;
			display: block;
			margin-left: 50px;
			background-color: #eee;
		}

		.cv-list-item {
			font-size: 14px;
			margin-bottom: 5px;
			padding: .5rem;
		}

		.cv-list-cols {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.cv-list-cols .cv-list-item {
			padding-left: .5rem;
			margin-left: 1rem;
			min-width: calc(40% - 1.5rem)
		}

		.bg-success {
			background-color: rgb(60, 193, 60);
		}

		.bg-danger {
			background-color: rgb(193, 80, 60);
		}

		.position-absolute {
			position: absolute;
		}

		.position-relative {
			position: relative;
		}

		/* the classes */
		.hidden {
			opacity: 0;
		}
		.p-1{
			padding:.5rem
		}
		.py-2{
			padding-top:1rem;
			padding-bottom:1rem
		}
		.hidden-right {
			transform: translate(50px, 0);
		}

		.hidden-left {
			transform: translate(-50px, 0);
		}

		.showElement {
			opacity: 1;
			transform: translate(0, 0);
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
		}