<html>

<head>
	<link rel="stylesheet" href="./cv.css">
</head>

<body>
	<div id="app" class="container">
		<div class="cv-header">
			<img src="./img.png" alt="Foto" class="cv-profile-picture">
			<div class="cv-data">
				<div class="cv-profile-name">Jorge Daniel Garcia</div>
				<div class="cv-contact">danielgarcia.clases@gmail.com | +54 3773472768 </div>
			</div>
		</div>
		<div class="cv-section">
			<div class="cv-title">Desarrollador / Programador</div>
			<div class="cv-text">Soy un programador con más de cinco años de experiencia en el desarrollo web. Me
				apasiona crear soluciones innovadoras y resolver necesidades. Tengo
				conocimientos avanzados de HTML, CSS, JavaScript, Python, PHP y otros lenguajes y frameworks. Me
				considero una
				persona proactiva, creativa y con capacidad de trabajo en equipo.</div>
		</div>
		<div class="cv-section">
			<div class="cv-title">Experiencia laboral</div>
			<div v-for="work of works" class=" hidden" v-infocus="'showElement'">
				<div class="cv-subtitle">{{work.rol}}</div>
				<div class="cv-text">{{work.time}}</div>
				<ul class="cv-list">
					<li class="cv-list-item" v-for="item in work.description">
						{{ item }}
					</li>
				</ul>
				<div class="cv-stack"><b>Stack: </b>{{work.stack.split(',').join(', ')}}</div>
			</div>

			</li>
			</ul>
		</div>
		<div class="cv-section hidden" v-infocus="'showElement'">
			<div class="cv-title">Habilidades y competencias</div>
			<ul class="cv-list cv-list-cols">
				<li class="cv-list-item"  v-for="knowledge in knowledges">
					<span class="position-relative" style="z-index:2;padding:.25rem">
						<img :src="knowledge.icon" style="filter: grayscale();" width="20px" height="20px" alt="Knowledge Icon">
						{{knowledge.description}} 
					</span>
					<div class="d-block bg-success position-relative"
						:style="'z-index:1;min-height:.25rem;width:'+knowledge.level*25+'%'"></div>
				</li>
			</ul>
		</div>
		<div class="cv-section hidden" v-infocus="'showElement'">
			<div class="cv-title">Formación académica</div>
			<div class="cv-subtitle">Profesorado de Informatica</div>
			<div class="cv-text">Instituto Superior del profesorado Jose de San Martin (Goya)</div>
			<div class="cv-subtitle">Técnico electromecanico</div>
			<div class="cv-text">Escuela técnica N°1 Arquitecto Francisco Pinaroli.(Goya)</div>
			<div class="cv-subtitle">Otros conocimientos</div>
			<ul class="cv-list">
				<li class="cv-list-item">Curse los 3 primeros años la UTN en Ing en Sistemas.</li>
				<li class="cv-list-item">Cursos online de programación.</li>
				<li class="cv-list-item">Cursos online de diseño web.</li>
			</ul>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
	new Vue({
		el: '#app',
		data: {
			works: [],
			knowledges: [],
			level: ['', 'principiante', 'intermedio', 'avanzado', 'experto']
		},
		computed: {
		},
		async mounted() {
			try {
				let responseCvData = await fetch('../api/cv')
				let cv = await responseCvData.json()
				this.works = cv.works.map(work => {
					work.description = work.description.split('\n')
					return work
				})
				this.knowledges = cv.knowledges
				console.log(this.works)
			} catch (error) {
				alert('Ocurrio un error al obtener informacion del cv')
			}
		},
		directives: {
			infocus: {
				isLiteral: true,
				inserted: (el, binding, vnode) => {
					let f = () => {
						let rect = el.getBoundingClientRect()
						let inView = (
							rect.width > 0 &&
							rect.height > 0 &&
							rect.top >= 0 &&
							rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
						)
						if (inView) {
							el.classList.add(binding.value)
							window.removeEventListener('scroll', f)
						}
					}
					window.addEventListener('scroll', f)
					f()
				}
			}
		}
	})

</script>

</html>